
body{
	padding: 0px;
	margin: 0px;
	background-color: whitesmoke;
	overflow-x: hidden;
	font-family: 'Trebuchet MS', sans-serif;
}
.header{

	padding: 3px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #ea5050;
	z-index: 2;
	color: white;
}

.header input{
	padding: 5px;
	width: 40%;
	border: 0px;
	background-color: ghostwhite;
	color: ;
	border-radius: 30px;
	outline-color: red;
}
.td-Profile{
	float: right;
	margin-right: 20px;
	cursor: pointer;
}
.td-Profile img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.container-body{
	width: 100%;
	display: inline-block;
}
.link{
	padding: 12px;
	width: 15%;
	position: fixed;
	display: inline-block;
	height: 100vh;
	background-color: white;
	float: left;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.result-Container{

	display: inline-block;
	width: 80%;
	padding: 12px;
	float: right;
	margin-top: 50px;
}

.link ul{
	list-style: none;
}

.link a{
	text-decoration: none;
	color: black;
}
.link li{
	padding: 12px;
	cursor: pointer;
}

.link li:hover{
	background-color: #ea5050;	
	transition: 0.3s;
}
.link a:hover{
	color: white;
}

.usersDiv,.productsDiv,.editProfilediv,.viewUserProfile,.ordersDiv,.productDetailsView,.searhDivResult,.homedivTo{
	width: 95%;
	padding: 12px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-top: 2px solid #ea5050;
}
.productsDiv strong{
	display: inline-block;
}
.addpdbtn{
	padding: 7px;
	background-color: royalblue;
	color: white;
	display: inline-block;
	border-radius: 4px;
	float: right;
	cursor: pointer;
	margin-right: 20px;
}
.addProduct label{
	color: gray;
}

.addProduct input, .registerAdmin input{
	width: 90%;
	border: 0px;
	outline: none;
	padding: 12px;
	background-color: whitesmoke;
	border-radius: 4px;
}
.addProduct textarea{
	width: 90%;
	height: 90px;
	border: 0px;
	outline: none;
	padding: 12px;
	background-color: whitesmoke;
	border-radius: 4px;

}
.tdAdd{
	width: 50%;
}
.addProduct select{
	width: 95%;
	border: 0px;
	outline: none;
	padding: 12px;
	background-color: whitesmoke;
	border-radius: 4px;	
}
.addProduct input[type=submit],.registerAdmin input[type=submit]{
	background-color: royalblue;
	color: white;
	cursor: pointer;
}
.addProduct td{
	padding: 12px;
}

.settingDiv{
	padding: 12px;
	width: 95%;
	display: inline-block;
}
.div1{
	display: inline-block;
	width: 70%;
	padding: 12px;
	float: left;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.div2{
	display: inline-block;
	padding: 12px;
	width: 20%;
	margin-right: 10px;
	float: right;
}
.maintanance{
	padding: 12px;
	border-radius: 4px;
	width: 95%;
	background-color: white;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.maintanance a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.switchoff{
	padding: 9px;
	border-radius: 4px;
	background-color: red;
	color: white;
	cursor: pointer;
}
.switchon{
	padding: 9px;
	border-radius: 4px;
	background-color: green;
	color: white;
	cursor: pointer;
}
.addType{
	padding: 10px;
	width: 50%;
	float: left;
	border-top: 2px solid #ea5050;
	background-color: white;
}

.listType{

	padding: 10px;
	width: 35%;
	float: right;
	background-color: white;
}
.listType input[type=text]{
	padding: 10px;
	width: 90%;
	border: 0px;
	outline: none;
	background-color: whitesmoke;
}

.listType input[type=submit]{
	padding: 10px;
	width: 95%;
	border: 0px;
	background-color: royalblue;
	color: white;
	cursor: pointer;
}

.profileDiv{
	width: 55%;
	background-color: white;
	margin-top: 90px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	border-radius: 0px 4px 0px 4px;
	padding: 12px;
}
.imgProfile{
	padding: 6px;
	margin-top: -100px;
}
.imgProfile img{
	width: 200px;
	height: 195px;
	border: 5px solid #ea5050;
	border-radius: 50%;
}
.personalDetails{
	padding: 10px;
	background-color: ghostwhite;
	border-radius: 4px;
}

.editProfile{

	padding: 12px;
	background-color: royalblue;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
}
.deleteProfile{

	padding: 12px;
	background-color: red;
	color: white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 4px;
}
.editPass{

	padding: 12px;
	background-color: seagreen;
	color: white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 4px;
}
.btnProfile a{
	text-decoration: none;
}
.editUserDetails input[type=text], .editUserDetails input[type=number], .editUserDetails input[type=password], .editUserDetails input[type=file], .editUserDetails textarea{
	padding: 12px;
	width: 90%;
	border: 0px;
	border-radius: 4px;
	background-color: whitesmoke;
	outline: none;
}

.editUserDetails label{
	color: gray;
	cursor: pointer;
	float: left;
}

.editUserDetails input[type=submit]{
	background-color: royalblue;
	color: white;
	padding: 12px;
	cursor: pointer;
	width: 95%;
	border-radius: 4px;
	outline: none;
	border: 0px;
}

.imgProfileDetail{
	display: inline-block;
	width: 95%;
	padding: 12px;
}
.imgProfileDetail img{
	border-radius: 4px;
	width: 150px;
	height: 150px;
}

.imgProductDetails{
	padding: 4px;
	border-radius: 4px;
	max-width: 300px;
	max-height: 350px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.imgProductDetails img{
	border-radius: 4px;
	max-width: 300px;
	max-height: 350px;
}
.descpro{
	background-color: teal;
	color: white;
	border-radius: 4px;
	padding: 6px;
	cursor: pointer;
}
.previewDesc{

	position: absolute;
	padding: 0px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	background-color: white;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.4s;
	height: 0px;
	z-index: 4;
	margin-right: 10%;
	top: 0px;
}

.tblOrder img{
	width: 100px;
	height: 100px;
}
.tblOrder a{
	text-decoration: none;
}
.trackOrder{
	padding: 12px;
	background-color: seagreen;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

.acceptOrder{
	padding: 10px;
	background-color: green;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}
.declineOrder{

	padding: 10px;
	background-color: red;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}

.tblUser a{
	text-decoration: none;
}
.tblUser img{
	border-radius: 4px;
	width: 130px;
	height: 130px;
}
.viewUserProfiles{
	padding: 10px;
	background-color: orange;
	color: white;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
}
.viewProductDt{

	padding: 10px;
	background-color: teal;
	color: white;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
}

.deliverP{
	padding: 10px;
	background-color: royalblue;
	color: white;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
}

.completeBtn{
	padding: 10px;
	background-color: lawngreen;
	color: white;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
}
a{
	text-decoration: none;
}

#Not-Read{
	padding: 10px;
	background-color: #ea5050;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	font-size: 13px;
	cursor: pointer;
	text-decoration: none;
}

#read{
	padding: 10px;
	cursor: pointer;
	background-color: white;
	color: black;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	font-size: 13px;
	text-decoration: none;
}

.notification label{
	float: right;
	background-color: red;
	border-radius: 50%;
	padding: 2px;
	color: white;
	width: 12px;
	font-size: 10px;
	height: 12px;
}
.matheDetail,.mainDashboardDiv{
	display: inline-block;
	width: 100%;
}
.cover{
	padding: 4px;
	width: 32%;
	display: inline-block;
}
.dataLink{
	display: inline-block;
	padding: 12px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	background-color: white;
	border-radius: 4px;
	width: 95%;
	color: ;
	transition: 0.3s;
	cursor: pointer;
}
.dataLink:hover{
	background-color: #ea5050;
	color: white;
}
#hideshow{
	display: none;
}
.btnShow{
	padding: 6px;
	border-radius: 4px;
	background-color: #ea5050;
	color: white;
	cursor: pointer;
}