body{
	padding: 0px;
	margin: 0px;
	background-color: whitesmoke;
	 font-family: 'Trebuchet MS', sans-serif;
}
.form-container{
	padding: 12px;
	width: 30%;
	background-color: white;
	transition: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	margin-top: 150px;
}
.form-container img{

	width: 100px;
	height: 100px;
	margin-top: -60px;
	border-radius: 60%;

}
.form-container input[type=text],input[type=password],input[type=number],input[type=file]{
	padding: 12px;
	background-color: lightgray;
	border: 0px;
	outline: none;
	width: 90%;
}
.form-container input[type=submit]{

	padding: 12px;
	background-color: #EA5050;
	border: 0px;
	cursor: pointer;
	color: white;
	outline: none;
	width: 95%;
}

.form-container a{
	text-decoration: none;
	color: gray;
}
.error-message{
	margin-right: 20px;
	margin-left: 80%;
	padding: 10px;
	top: 20px;
	border-left: 2px solid red;
	color: white;
	width: 200px;
	transition: 0.3s;
	position: absolute;
	background-color: #ff6666;
}
.skip{
	padding: 12px;
	width: 90%;
	cursor: pointer;
	background-color: whitesmoke;
}
@media (max-width:600px){
	.form-container{
		width: 90%;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	}

	.error-message{
		width: 95%;
		margin-left: 0px;
		top: 0;
		text-align: center;
	}
}